---

wbs_monitoring_install: "{{ default_install | default ('yes') }}"
wbs_monitoring_install_archive: "{{ [ wbs_monitoring_install_directory, 'tar.xz', ] | join ('.') }}"
wbs_monitoring_install_base: "/opt"
wbs_monitoring_install_directory: "{{ [ 'wbs-monitoring', wbs_monitoring_install_version_full, ] | join ('-') }}"
wbs_monitoring_install_link: "{{ [ wbs_monitoring_install_base, 'wbs-monitoring', ] | join ('/') }}"
wbs_monitoring_install_mirror: "{{ 'https://dist.wellbehavedsoftware.com/wbs-monitoring' }}"
wbs_monitoring_install_target: "{{ [ wbs_monitoring_install_base, wbs_monitoring_install_directory, ] | join ('/') }}"
wbs_monitoring_install_temp: "/tmp/wbs-monitoring-install"
wbs_monitoring_install_url: "{{ [ wbs_monitoring_install_mirror, wbs_monitoring_install_archive, ] | join ('/') }}"
wbs_monitoring_install_version: ""
wbs_monitoring_install_version_full: "{{ [ wbs_monitoring_install_version, ubuntu_release, ] | join ('-') }}"
wbs_monitoring_installed_version: ""


# ex: et ts=2 filetype=yaml
