*.sql
*.pyc
/.Trash-*
/.state
/accounts
/config
/data/runtime/*
!/data/runtime/wistla-ops-*
!/data/runtime/wistla-production-*
!/data/runtime/wistla-staging-*
!/data/runtime/wistla-test-*
!/data/runtime/cluster-*
/docs/static/.webassets-cache/
/docs/static/styles/all.css
/security/*-plain
/security/vpn
/third-party/*/build
/third-party/*/dist
/third-party/gitdb/gitdb2.egg-info/
/third-party/roman/src/roman.egg-info/
/third-party/python-gfm/py_gfm.egg-info/
/vagrant/.vagrant
/vagrant/apt-sources-list
/vagrant/config
/vagrant/id_rsa
/wistla-api
/wistla-web
/group_vars/all
/work
.DS_Store
.localized
.idea
*.nogit
