[defaults]
library = misc/ansible-modules:third-party/ansible-modules-core:third-party/ansible-modules-extras
gathering = explicit
force_color = 1
connection_plugins = misc/ansible-connection-plugins

[ssh_connection]
pipelining = True
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
