[defaults]
library = ansible-modules/core:ansible-modules/extras
gathering = explicit
force_color = 1

[ssh_connection]
pipelining = True
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
