[defaults]

gathering = explicit
error_on_undefined_vars = True

force_color = True

library = misc/ansible-modules:third-party/ansible-modules-core:third-party/ansible-modules-extras
action_plugins = misc/ansible-action-plugins
connection_plugins = misc/ansible-connection-plugins
filter_plugins = misc/ansible-filter-plugins

[ssh_connection]
pipelining = True
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
