$white: #ffffff;

$wistla-blue: #302e82;
$wistla-blue-slightlight: #363482;
$wistla-blue-highlight: #434182;

$light-blue: #a4a3cc;

$header-background: $wistla-blue;
$header-background-slightlight: $wistla-blue-slightlight;
$header-background-highlight: $wistla-blue-highlight;
$header-text: $white;

$navigation-background: $light-blue;
$navigation-border: $wistla-blue;
$navigation-text: $wistla-blue;
$navigation-highlight: $wistla-blue;

$heading-text: $wistla-blue;

$navigation-current-font: montserrat, sans-serif;
$navigation-current-colour: $wistla-blue;

$table-background: #fcf7f7;
$table-border: #f5ebeb;

$tab-background: #fcf7f7;
$tab-text: inherit;
$tab-border: #f5ebeb;
$tab-current-background: $wistla-blue;
$tab-current-text: $white;
