@import "colours.scss";

.content {
	left: 16rem;
	right: 0px;
	height: 100%;
	margin-left: 256px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: white;
}

.content h1 {
	font-family: montserrat, sans-serif;
	font-weight: bold;
	font-size: 120%;
	font-variant: small-caps;
	color: $heading-text;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-bottom: 0.2rem;
	border-bottom: 0.2rem solid $heading-text;
}

.content h2 {
	font-family: montserrat, sans-serif;
	font-weight: bold;
	font-size: 100%;
	font-variant: small-caps;
	color: $heading-text;
	padding-bottom: 0.2rem;
	border-bottom: 0.1rem solid $heading-text;
}

.content table {
	width: 100%;
}

.content table th {
	font-family: montserrat, sans-serif;
	font-weight: normal;
	color: $heading-text;
	text-align: left;
}

.content table th.right {
	text-align: right;
}

.content table td.right {
	text-align: right;
}

.content a {
	text-decoration: none;
	color: inherit;
}

.content a:hover {
	text-decoration: underline;
	color: $heading-text;
}
