---

- name: "wbs monitoring install"
  args:

    executable: "/bin/bash"

  become: "yes"
  shell:

    set -euf -o pipefail;

    rm -rf "{{ wbs_monitoring_install_temp }}";
    mkdir -p "{{ wbs_monitoring_install_temp }}";
    cd "{{ wbs_monitoring_install_temp }}";

    wget "{{ wbs_monitoring_install_url }}";

    tar
      --extract
      --xz
      --file "{{ wbs_monitoring_install_archive }}";

    rsync
      --delete
      --recursive
      "{{ wbs_monitoring_install_directory }}/"
      "{{ wbs_monitoring_install_target }}/";

    rm -rf "{{ wbs_monitoring_install_temp }}";

- name: "wbs monitoring install link"
  become: "yes"
  action:

    module: "file"
    path: "{{ wbs_monitoring_install_target }}"
    state: "link"

    src: "{{ wbs_monitoring_install_directory }}"

# ex: et ts=2 filetype=yaml
